.admin-container {
  display: flex;
  min-height: 100vh;
  background-color: #f5f5f5;
}

.admin-container .admin-main {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-left: 260px;
  transition: margin-left 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.admin-container.sidebar-collapsed .admin-main {
  margin-left: 80px;
}

.admin-container .admin-main .admin-content {
  flex: 1;
  overflow-y: auto;
  padding: 24px;
  background-color: #f5f5f5;
}
